<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div class="w" style="text-align: right">
    <form class="inLine" th:action="@{/diet/user/register}" method="get">
        <button class="logButton button" type="submit" > Zarejestruj się </button>
    </form>
    <form class="inLine" th:action="@{/diet/user/login}" method="get">
        <button class="logButton button" > Zaloguj się </button>
    </form>
</div>
</body>
</html>