<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div style="text-align: left">
    <a th:href="@{/diet/product/option}"><button style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Produkty </button></a> <a th:href="@{/diet/category/option}"><button style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Kategorie </button></a> <a th:href="@{/diet/meal/option}"><button style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Posiłki </button></a> <a th:href="@{/diet/user/option}"><button style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Użytkownik </button></a> <a th:href="@{/diet/training/option}"><button style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Trening </button></a> <a th:href="@{/diet/daily/option}"><button style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Bilans </button></a>
</div>
</body>
</html>