<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div style="text-align: left">
    <form class="inLine" th:action="@{/diet/product/option}" method="get">
        <button class="button" type="submit" style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Produkty </button>
    </form>
    <form class="inLine" th:action="@{/diet/category/option}" method="get">
        <button class="button" type="submit" style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Kategorie </button>
    </form><form class="inLine" th:action="@{/diet/meal/option}" method="get">
        <button class="button" type="submit" style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Posiłki </button>
    </form>
    <form class="inLine" th:action="@{/diet/user/option}" method="get">
        <button class="button" type="submit" style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Użytkownik </button>
    </form>
    <form class="inLine" th:action="@{/diet/training/option}" method="get">
        <button class="button" type="submit" style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Trening </button>
    </form>
    <form class="inLine" th:action="@{/diet/daily/option}" method="get">
        <button class="button" type="submit" style="margin-top: 5px; margin-left: 5px; margin-bottom: 5px"> Bilans </button>
    </form>
</div>
</body>
</html>