a{
    color: darkcyan;
}

.hidden{
    display: none;
}

.bcg{
    background: url(http://localhost:63342/DietCalculator/templates/images/background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 1584px;
    height: 774px;
}

.inLine{
    display: inline;
}

.block{
    display: block;
}

.floatLeft{
    float: left;
}

.floatRight{
    float: right;
}

input{
    background-color: lightgrey;
}

select{
    background-color: lightgrey;
}

.wh{
    width: 300px;
    height: 774px;
}

.w{
    width: 984px;
}

.h{
    height: 650px;
}

.title{
    height: 75px;
}

.center{
    text-align: center;
}

.page{
    width: 1584px;
    height: 774px;
}

.content{
    height: 700px;
    width: 984px;
}

.button{
    background-color: grey;
    border: 2px solid black;
}

.logButton{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 120px;
    height: 25px;
}

.navButton{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    width: 90px;
    height: 25px;
}

.formButton{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 165px;
    height: 30px;
}

input,select{
    background-color: lightgray;
    border: 2px solid grey;
    border-radius: 2px;
    margin-top: 6px;
    margin-bottom: 6px;
    height: 20px;
}

.form{
    text-align: right;
    display: inline;
    float: right
}

.optionButton{
    margin-bottom: 10px;
}

.formDiv{
    display: inline;
    float: right;
    width: 400px;
    height: 500px;
}

.graphText{
    margin-top: 15px;
}

.graph{
    align-items: center;
    display:block;
    height: 33px;
    padding-top: 15px;
}