<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:if="${balance != null}">
    <div th:if="${exist != null}">
        <div th:if="${days == null}" style="background-color: grey; float: left; width: 984px; height: 60px">
            <h3 th:text="'Wszystkie dostarczone dzisiaj makroskładniki:'"></h3>
        </div>
        <div th:if="${days != null}" style="background-color: grey; float: left; width: 984px; height: 60px">
            <h3 th:text="'Kalorie dostarczone w ciągu ostatnich ' + ${days} + ' dni:'"></h3>
        </div>
        <div style="width: 100%; height: 100%;">
            <div th:each="result : ${results}">
                <div th:if="${result != null && result.borders}">
                    <div class="floatLeft graphText" style="width: 300px; height: 33px" th:text="${result.description}" >
                        <b><p class="graphText" th:text="${proteinPart}"></p></b>
                    </div>
                    <div class="floatLeft" style="border-left: 4px solid black; width: 676px; height: 48px">
                        <div style="width: 300px; border-right: 4px solid black">
                            <div class="graph" th:style="${result.styles}" th:text="${result.part}"></div>
                        </div>
                    </div>
                </div>
                <div th:if="${result != null && !result.borders}">
                    <div class="floatLeft graphText" style="width: 300px; height: 33px" >
                        <div th:if="${result.description == '%' && days == null}" th:text="'Ładunki glikemiczne posiłków:'">
                            <b><p class="graphText"></p></b>
                        </div>
                        <div th:if="${result.description == '%' && days != null}" th:text="'Średnie ładunki glikemiczne:'">
                            <b><p class="graphText"></p></b>
                        </div>
                        <div th:if="${result.description != '%'}">
                            <b><p class="graphText"></p></b>
                        </div>
                    </div>
                    <div class="floatLeft" style="width: 676px; height: 48px">
                        <div style="width: 308px">
                            <div th:if="${result.description == '%'}">
                                <div class="floatLeft" th:text="'0%'"/>
                                <div class="floatRight" th:text="'100%'"/>
                            </div>
                            <div th:if="${result.description != '%'}">
                                <div class="floatLeft" th:text="'0'"/>
                                <div class="floatRight" th:text="'20'"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:if="${exist == null}">
        <div th:if="${days == null}" style="color: red">
            <H3>Nie dodano jeszcze żadnego posiłku!</H3>
        </div>
        <div th:if="${days == 0}" style="color: red">
            <H3>Nie ma wymaganej ilości danych!</H3>
        </div>
    </div>
</div>
<div th:if="${longBalance != null}">
    <div th:if="${exist != null}">
        <h3 style="color: black" th:text="'Kalorie dostarczone w ciągu ostatnich ' + ${days} + ' dni:'"></h3>
        <div class="floatLeft" style="width: 150px; height: 541px">
            <div style="width: 150px; height: 200px; text-align: right; margin-top: 190px" ><b th:text="'100%'"></b></div>
            <div style="width: 150px; height: 20px; text-align: right" ><b th:text="'0%'"></b></div>
        </div>
        <div th:each="daily : ${balances}">
            <div class="floatLeft" style="width: 20px; height: 400px">
                <div th:style="'width: 20px; height: ' + ${400 - ((daily.received * 200 )/ daily.needed)} + 'px'">
                    <div style="height: 200px; border-bottom: 2px solid black"></div>
                </div>
                <div th:style="'width: 20px; height: ' + ${(daily.received * 200 )/ daily.needed} + 'px; background-color: blue; border-bottom: 2px solid black'">
                    <div th:if="${(400 - ((daily.received * 200 )/ daily.needed)) < 200}" th:style="'position: static; height: ' + ${((daily.received * 200 )/ daily.needed) - 200} + 'px; border-bottom: 2px solid black; background-color: red'"></div>
                </div>
            </div>
        </div>
        <div class="floatLeft" style="width: 695px; height: 141px">
            <p style="height: 15px"><b th:text="'Średnie dzienne pokrycie zapotrzebowania na białko: ' + ${avgProtein} + '%'"></b></p>
            <p style="height: 15px"><b th:text="'Średnie dzienne pokrycie zapotrzebowania na węglowodany: ' + ${avgCarbohydrates} + '%'"></b></p>
            <p style="height: 15px"><b th:text="'Średnie dzienne pokrycie zapotrzebowania na tłuszcze: ' + ${avgFat} + '%'"></b></p>
            <p style="height: 15px"><b th:text="'Średnie dzienne pokrycie zapotrzebowania na kalorie: ' + ${avgCalories} + '%'"></b></p>
        </div>
    </div>
    <div th:if="${exist == null}" style="color: red">
        <h3> Nie ma wymaganej ilości danych! </h3>
    </div>
</div>
</body>
</html>