<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Dodanie kategorii'"></h3>
<div class="formDiv">
</div>
<form class="form" th:action="@{/diet/category/add}" th:object="${category}" method="post">
    Nazwa: <input type="text" th:field="*{name}"><th:if="${#fields.hasErrors('name')}" th:errors="*{name}"/></br>
    Opis: <input type="text" th:field="*{description}"><th:if="${#fields.hasErrors('description')}" th:errors="*{description}"/></br>
    <button class="formButton button" type="submit" > Dodaj kategorię </button>
</form>
</body>
</html>