<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Dodanie treningu'"></h3>
<div class="formDiv">
</div>
<form class="form" th:action="@{/diet/training/add}" th:object="${training}" method="post">
    Intensywność treningu siłowego: <select th:field="*{strengthIntensity}">
        <option th:each="intensity : ${intensityListStrength}" th:text="${intensity}" th:value="${intensity}" />
    </select></br>
    Czas treningu siłowego: <input type="number" min="0" th:field="*{strengthTime}"></br>
    Treningi w tygodniu: <input type="number" min="0" th:field="*{strengthDays}"></br>
    Intensywność treningu aerobowego: <select th:field="*{cardioIntensity}">
    <option th:each="intensity : ${intensityListCardio}" th:text="${intensity}" th:value="${intensity}" />
    </select></br>
    Czas treningu aerobowego: <input type="number" min="0" th:field="*{cardioTime}"></br>
    Treningi w tygodniu: <input type="number" min="0" th:field="*{cardioDays}"></br>
    <button class="formButton button" type="submit" > Zatwierdź trening </button>
</form>
</body>
</html>