<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;	charset=UTF-8"/>
    <title>Title</title>
</head>
<body>
<h3 th:text="'Wyszukaj:'"></h3>
<form th:action="@{/diet/product/search}" method="post">
    Nazwa: <input type="text" name="name">
    <button class="formButton button" type="submit">Wyszukaj</button>
</form>
<div th:if="${search != null}">
    <h3 th:text="'Lista produktów: '"></h3>
    <div th:each="product : ${products}">
        <p>
        <p style="display: inline" th:text="${product.name} + ' '"/>
        <a style="display: inline" th:href="@{'/diet/product/edit/' + ${product.id}}" th:text="'Edytuj'"></a>
        <a class="delete" style="margin-left: 5px;display: inline" th:href="@{'/diet/product/delete/' + ${product.id}}" th:text="'Usuń'"></a>
        <div class="hidden" >
            <p th:text="'Czy na pewno chcesz usunąć ' + ${product.name}"/>
            <a th:href="@{'/diet/product/delete/' + ${product.id} + '/yes'}">
                <button class="formButton button" type="submit" th:text="'Tak'"/>
            </a>
            <a th:href="@{/diet/product/all}">
                <button class="formButton button" type="submit" th:text="'Nie'"/>
            </a>
        </div>
        </p>
    </div>
</div>
<div th:if="${search == null}">
    <h3 th:text="'Lista produktów: '"></h3>
    <div th:each="product : ${limitedProducts}">
        <p>
        <p style="display: inline" th:text="${product.name} + ' '"/>
        <a style="display: inline" th:href="@{'/diet/product/edit/' + ${product.id}}" th:text="'Edytuj'"></a><a class="delete" style="margin-left: 5px;display: inline" th:href="@{'/diet/product/delete/' + ${product.id}}" th:text="'Usuń'"></a>
        <div class="hidden" >
            <p th:text="'Czy na pewno chcesz usunąć ' + ${product.name}"/>
            <a th:href="@{'/diet/product/delete/' + ${product.id} + '/yes'}">
                <button class="formButton button" type="submit" th:text="'Tak'"/>
            </a>
            <a th:href="@{/diet/product/all}">
                <button class="formButton button" type="submit" th:text="'Nie'"/>
            </a>
        </div>
        </p>
    </div>
    <p style="display: inline; margin-left: 10px" th:each="number : ${pages}">
        <a style="color: darkred" th:if="${page != 0 && page == number}" th:href="@{'/diet/product/all?page=' + ${number}}" th:text="${number} + ' '"></a>
        <a th:if="${page == 0 || page != number}" th:href="@{'/diet/product/all?page=' + ${number}}" th:text="${number} + ' '"></a>
    </p>
</div>
</body>
</html>