<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Zobacz bilans:'"></h3>
    <form class="center" th:action="@{/diet/daily/actual}" method="get">
        <button class="formButton button optionButton" type="submit" > Dzisiejszy </button>
    </form>
    <form class="center" th:action="@{/diet/daily/weekly}" method="get">
        <button class="formButton button optionButton" type="submit" > Ostatnie dni </button>
    </form>
    <form class="center" th:action="@{/diet/daily/long}" method="get">
        <button class="formButton button optionButton" type="submit" > Do 30 dni </button>
    </form>
</body>
</html>