<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Zmiana hasła'"></h3>
<div class="formDiv">
</div>
<form class="form" th:action="@{/diet/user/password}" method="post">
    <p style="color: red" th:if="${wrongPassword}"> Nieprawidłowe hasło! </p>
    Stare hasło: <input type="password" name="oldPassword"></br>
    Nowe hasło: <input type="password" name="newPassword"></br>
    <button class="formButton button" type="submit" > Zmień hasło </button>
</form>
</body>
</html>