<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
    <h3 th:text="'Zmiana hasła'"></h3>
    <form th:action="@{/diet/user/password}" method="post">
        <p class="error" th:if="${wrongPassword}"> Nieprawidłowe hasło! </p>
        <table>
            <tbody>
                <tr>
                    <td><label>Stare hasło:</label></td>
                    <td><input type="password" name="oldPassword"></td>
                </tr>
                <tr>
                    <td><label>Nowe hasło:</label></td>
                    <td><input type="password" name="newPassword"></td>
                </tr>
                <tr>
                    <td><label></label></td>
                    <td><button class="formButton button" type="submit" > Zmień hasło </button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>