<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 class="error" th:text="'Czy jesteś pewny, że chcesz usunąć konto?'"></h3>
    <form th:action="@{/diet/user/delete/yes}" method="get">
        <button class="formButton button" type="submit" > Tak, jestem pewny </button>
    </form>
    <form th:action="@{/diet/user/option}" method="get">
        <button class="formButton button" type="submit" > Nie, chcę zachować konto </button>
    </form>
</body>
</html>