<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Zmiana treningu'"></h3>
<form th:action="@{/diet/training/edit/}" th:object="${training}" method="post">
    <input type="hidden" name="id" th:field="*{id}" th:value="${id}">
    <input type="hidden" name="dailyCalories" th:field="*{dailyCalories}" th:value="${dailyCalories}">
    Intensywność treningu siłowego: <select th:field="*{strengthIntensity}">
        <option th:each="intensity : ${intensityListStrength}" th:text="${intensity}" th:value="${intensity}" />
    </select></br>
    Czas treningu siłowego: <input type="number" min="0" th:field="*{strengthTime}"></br>
    Treningi w tygodniu: <input type="number" min="0" th:field="*{strengthDays}"></br>
    Intensywność treningu aerobowego: <select th:field="*{cardioIntensity}">
        <option th:each="intensity : ${intensityListCardio}" th:text="${intensity}" th:value="${intensity}" />
    </select></br>
    Czas treningu aerobowego: <input type="number" min="0" th:field="*{cardioTime}"></br>
    Treningi w tygodniu: <input type="number" min="0" th:field="*{cardioDays}"></br>
    <input type="submit" value="Zmień trening">
</form>
</body>
</html>