<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<form th:action="@{/diet/product/edit/}" th:object="${product}" method="post">
    <input type="hidden" th:field="*{id}" th:value="${id}">
    Nazwa: <input type="text" th:field="*{name}"><th:if="${#fields.hasErrors('name')}" th:errors="*{name}" /></br>
    <th:text> Wartości na 100g produktu: </th:text></br>
    Białko: <input type="number" min="0" max="100" step="0,1" th:field="*{protein}"><th:if="${#fields.hasErrors('protein')}" th:errors="*{protein}" /></br>
    Węglowodany: <input type="number" min="0" max="100" step="0,1" th:field="*{carbohydrates}"><th:if="${#fields.hasErrors('carbohydrates')}" th:errors="*{carbohydrates}" /></br>
    Tłuszcze: <input type="number" min="0" max="100" step="0,1" th:field="*{fat}"><th:if="${#fields.hasErrors('fat')}" th:errors="*{fat}" /></br>
    Kalorie: <input type="number" min="0" th:field="*{calories}"><th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}" /></br>
    Kategoria: <select th:field="*{category}">
        <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"/>
    </select></br>
    <input type="submit" value="Zmień produkt">
</form>
</body>
</html>