<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
    <h3 th:text="'Zmiana produktu'"></h3>
    <form th:action="@{/diet/product/edit/}" th:object="${product}" method="post">
        <input type="hidden" name="id" th:field="*{id}" th:value="${id}">
        <table>
            <tbody>
                <tr>
                    <td><label>Nazwa:</label></td>
                    <td><input type="text" th:field="*{name}"></td>
                    <td class="error"><th:if="${#fields.hasErrors('name')}" th:errors="*{name}" /></td>
                </tr>
                <tr>
                    <td><label></label></td>
                    <td>Wartości na 100g produktu:</td>
                    <td></td>
                </tr>
                <tr>
                    <td><label>Białko:</label></td>
                    <td><input type="number" min="0" max="100" step="0.1" th:field="*{protein}"></td>
                    <td class="error"><th:if="${#fields.hasErrors('protein')}" th:errors="*{protein}" /></td>
                </tr>
                <tr>
                    <td><label>Węglowodany:</label></td>
                    <td><input type="number" min="0" max="100" step="0.1" th:field="*{carbohydrates}"></td>
                    <td class="error"><th:if="${#fields.hasErrors('carbohydrates')}" th:errors="*{carbohydrates}" /></td>
                </tr>
                <tr>
                    <td><label>Tłuszcze:</label></td>
                    <td><input type="number" min="0" max="100" step="0.1" th:field="*{fat}"></td>
                    <td class="error"><th:if="${#fields.hasErrors('fat')}" th:errors="*{fat}" /></td>
                </tr>
                <tr>
                    <td><label>Kalorie:</label></td>
                    <td><input type="number" min="0" th:field="*{calories}"></td>
                    <td class="error"><th:if="${#fields.hasErrors('calories')}" th:errors="*{calories}" /></td>
                </tr>
                <tr>
                    <td><label>Indeks glikemiczny:</label></td>
                    <td><input type="number" min="0" max="103" th:field="*{glycemicIndex}"></td>
                    <td class="error"><th:if="${#fields.hasErrors('glycemicIndex')}" th:errors="*{glycemicIndex}" /></td>
                </tr>
                <tr>
                    <td><label>Kategoria:</label></td>
                    <td>
                        <select th:field="*{category}">
                            <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"/>
                        </select>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td><label></label></td>
                    <td><button class="formButton button" type="submit" > Zmień produkt </button></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>