<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
    <style>
        .bcg {
            background: url(http://localhost:63342/DietCalculator/templates/images/background.jpg) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bcg" style=" width: 1584px; height: 774px">
    <div style="float: left">
        <div style="width: 300px; height: 774px;">
        </div>
    </div>
    <div style="float: right">
        <div style="width: 300px; height: 774px">
        </div>
    </div>
    <div th:if="${logged == null}">
        <div style="float: right">
            <div style="background-color: darkslategrey; width: 984px" th:include="fragments/logBar">
            </div>
        </div>
    </div>
    <div th:if="${logged != null}">
        <div style="float: right">
            <div style="background-color: darkslategrey; width: 984px" th:include="fragments/logoutBar">
            </div>
        </div>
    </div>
    <div style="float: left; background-color: blue; width: 984px; height: 75px; text-align: center;">
        <h1 th:text="'Kalkulator diety'"></h1>
    </div>
    <div style="float: left">
        <div style="background-color: darkblue; width: 984px" th:include="fragments/navBar">
        </div>
    </div>
    <div style="float: left; background-color: gray; width: 984px; height: 625px; text-align: center">
        <div>
            <div th:if="${addProduct != null}">
                <div th:replace="addProduct :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${editProduct != null}">
                <div  th:replace="editProduct :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${allProducts != null}">
                <div  th:replace="allProducts :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${productOption != null}">
                <div  th:replace="productOption :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${addCategory != null}">
                <div  th:replace="addCategory :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${editCategory != null}">
                <div  th:replace="editCategory :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${allCategories != null}">
                <div  th:replace="allCategories :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${categoryOption != null}">
                <div  th:replace="categoryOption :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${addTraining != null}">
                <div  th:replace="addTraining :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${balanceOption != null}">
                <div  th:replace="balanceOption :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${editTraining != null}">
                <div  th:replace="editTraining :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${registerUser != null}">
                <div  th:replace="registerUser :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${editUser != null}">
                <div  th:replace="editUser :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${userOption != null}">
                <div  th:replace="userOption :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${loginForm != null}">
                <div  th:replace="loginForm :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${actualBalance != null || weeklyBalance != null}">
                <div  th:replace="actualBalance :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${changePassword != null}">
                <div  th:replace="changePassword :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${selectCategory != null}">
                <div  th:replace="selectCategory :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${selectProduct != null}">
                <div  th:replace="selectProduct :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${trainingOption != null}">
                <div  th:replace="trainingOption :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${viewMeal != null}">
                <div  th:replace="viewMeal :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${viewMeals != null}">
                <div  th:replace="viewMeals :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${mealOption != null}">
                <div  th:replace="mealOption :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${deleteUser != null}">
                <div  th:replace="deleteUser :: body" style="height: 700px; width: 984px; float: right">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>