<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
    <style>
        .bcg {
            background: url(http://localhost:63342/DietCalculator/templates/images/background.jpg) no-repeat center center fixed;
            background-size: cover;
        }
    </style>
</head>
<body>
<div class="bcg" style=" width: 1584px; height: 774px">
    <div style="float: left">
        <div style="width: 300px; height: 774px;">
        </div>
    </div>
    <div style="float: right">
        <div style="width: 300px; height: 774px">
        </div>
    </div>
    <div style="float: right">
        <div style="background-color: green; width: 984px" th:include="fragments/logBar">
        </div>
    </div>
    <div style="float: left; background-color: gray; width: 984px; height: 700px">
        <div>
            <div th:if="${addProduct != null}">
                <div  th:replace="addProduct :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${editProduct != null}">
                <div  th:replace="editProduct :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${allProducts != null}">
                <div  th:replace="allProducts :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${addCategory != null}">
                <div  th:replace="addCategory :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${editCategory != null}">
                <div  th:replace="editCategory :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${allCategories != null}">
                <div  th:replace="allCategories :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${addTraining != null}">
                <div  th:replace="addTraining :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${editTraining != null}">
                <div  th:replace="editTraining :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${registerUser != null}">
                <div  th:replace="registerUser :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${editUser != null}">
                <div  th:replace="editUser :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${loginForm != null}">
                <div  th:replace="loginForm :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${actualBalance != null}">
                <div  th:replace="actualBalance :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${changePassword != null}">
                <div  th:replace="changePassword :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${selectCategory != null}">
                <div  th:replace="selectCategory :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${selectProduct != null}">
                <div  th:replace="selectProduct :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
            <div th:if="${viewMeal != null}">
                <div  th:replace="viewMeal :: body" style="background-color: gold; height: 700px; width: 984px; float: right">
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>