<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/basic.css}" >
    <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript" th:src="@{/js/effect.js}"></script>
</head>
<body>
<div class="bcg" style=" width: 1584px; height: 774px;">
    <div class="floatLeft">
        <div class="wh">
        </div>
    </div>
    <div class="floatRight">
        <div class="wh" >
        </div>
    </div>
    <div th:if="${logged == null}">
        <div class="floatRight">
            <div class="w" style="background-color: lightgrey" th:include="fragments/logBar">
            </div>
        </div>
    </div>
    <div th:if="${logged != null}">
        <div class="floatRight">
            <div class="w" style="background-color: lightgrey" th:include="fragments/logoutBar">
            </div>
        </div>
    </div>
    <a th:href="@{/diet/home}" ><div class="floatLeft" style="background-color: gray; border: 3px solid black; width: 978px; height: 79px; text-align: center;">
        <h1 style="color: black" th:text="'Kalkulator diety'"></h1>
    </div>
    </a>
    <div class="floatLeft">
        <div style="background-color: lightgrey; width: 984px" th:include="fragments/navBar">
        </div>
    </div>
    <div class="floatLeft" style="background-color: white; width: 984px; height: 600px; text-align: center">
        <div>
            <div th:if="${addProduct != null}">
                <div class="content, floatRight" th:replace="addProduct :: body" >
                </div>
            </div>
            <div th:if="${editProduct != null}">
                <div class="content, floatRight" th:replace="editProduct :: body" >
                </div>
            </div>
            <div th:if="${allProducts != null}">
                <div class="content, floatRight" th:replace="allProducts :: body" >
                </div>
            </div>
            <div th:if="${productOption != null}">
                <div class="content, floatRight" th:replace="productOption :: body" >
                </div>
            </div>
            <div th:if="${addCategory != null}">
                <div class="content, floatRight" th:replace="addCategory :: body" >
                </div>
            </div>
            <div th:if="${editCategory != null}">
                <div class="content, floatRight" th:replace="editCategory :: body" >
                </div>
            </div>
            <div th:if="${allCategories != null}">
                <div class="content, floatRight" th:replace="allCategories :: body" >
                </div>
            </div>
            <div th:if="${categoryOption != null}">
                <div class="content, floatRight" th:replace="categoryOption :: body" >
                </div>
            </div>
            <div th:if="${addTraining != null}">
                <div class="content, floatRight" th:replace="addTraining :: body" >
                </div>
            </div>
            <div th:if="${balanceOption != null}">
                <div class="content, floatRight" th:replace="balanceOption :: body" >
                </div>
            </div>
            <div th:if="${editTraining != null}">
                <div class="content, floatRight" th:replace="editTraining :: body" >
                </div>
            </div>
            <div th:if="${registerUser != null}">
                <div class="content, floatRight" th:replace="registerUser :: body" >
                </div>
            </div>
            <div th:if="${editUser != null}">
                <div class="content, floatRight" th:replace="editUser :: body" >
                </div>
            </div>
            <div th:if="${userOption != null}">
                <div class="content, floatRight" th:replace="userOption :: body" >
                </div>
            </div>
            <div th:if="${loginForm != null}">
                <div class="content, floatRight" th:replace="loginForm :: body" >
                </div>
            </div>
            <div th:if="${actualBalance != null || weeklyBalance != null || longBalance != null}">
                <div class="content, floatRight" th:replace="actualBalance :: body" >
                </div>
            </div>
            <div th:if="${changePassword != null}">
                <div class="content, floatRight" th:replace="changePassword :: body" >
                </div>
            </div>
            <div th:if="${selectCategory != null}">
                <div class="content, floatRight" th:replace="selectCategory :: body" >
                </div>
            </div>
            <div th:if="${selectProduct != null}">
                <div class="content, floatRight" th:replace="selectProduct :: body" >
                </div>
            </div>
            <div th:if="${correctCalories != null}">
                <div class="content, floatRight" th:replace="correctCalories :: body" >
                </div>
            </div>
            <div th:if="${trainingOption != null}">
                <div class="content, floatRight" th:replace="trainingOption :: body" >
                </div>
            </div>
            <div th:if="${viewMeal != null}">
                <div class="content, floatRight" th:replace="viewMeal :: body" >
                </div>
            </div>
            <div th:if="${viewMeals != null}">
                <div class="content, floatRight" th:replace="viewMeals :: body" >
                </div>
            </div>
            <div th:if="${mealOption != null}">
                <div class="content, floatRight" th:replace="mealOption :: body" >
                </div>
            </div>
            <div th:if="${deleteUser != null}">
                <div class="content, floatRight" th:replace="deleteUser :: body" >
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>