<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Logowanie'"></h3>
<p style="color: red" th:if="${wrong}"> Błędny login lub hasło! </p>
<form action="/diet/user/login" method="post">
    Email: <input style="border-radius: 4px; border: 2px solid g; background-color: gainsboro" type="text" name="email"></br>
    Password: <input type="password" name="password"></br>
    <input type="submit" value="Zaloguj">
</form>
</body>
</html>