<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Logowanie'"></h3>
<p style="color: red" th:if="${wrong}"> Błędny login lub hasło! </p>
    <div class="formDiv">
    </div>
    <form class="form" action="/diet/user/login" method="post">
        Email: <input type="text" name="email"></br>
        Hasło: <input type="password" name="password"></br>
        <button class="formButton button" type="submit" > Zaloguj </button>
    </form>
</body>
</html>