<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
    <h3 th:text="'Logowanie'"></h3>
    <p class="error" th:if="${wrong}"> Błędny login lub hasło! </p>
    <form action="/diet/user/login" method="post">
        <table>
            <tbody>
                <tr>
                    <td><label>Email:</label></td>
                    <td><input type="text" name="email" placeholder="Podaj adres email"></td>
                </tr>
                <tr>
                    <td><label>Hasło:</label></td>
                    <td><input type="password" name="password" placeholder="Wprowadź hasło"></td>
                </tr>
                <tr>
                    <td><label></label></td>
                    <td><button class="formButton button" type="submit" > Zaloguj </button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>