<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
    <h3 th:text="'Wybierz produkt:'"></h3>
    <form th:action="@{/diet/meal/addProduct}" method="post">
        <table>
            <tbody>
                <tr>
                    <td><label>Produkt:</label></td>
                    <td>
                        <select name="id">
                            <option th:each="product : ${productList}" th:value="${product.id}" th:text="${product.name}" />
                        </select>
                    </td>
                </tr>
                <tr>
                    <td><label>Ilość:</label></td>
                    <td><input type="number" min="0" name="weight" /></td>
                </tr>
                <tr>
                    <td></td>
                    <td><button class="formButton button" type="submit" > Dodaj produkt </button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>
</html>