<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Wybierz kategorię:'"></h3>
<div class="formDiv">
</div>
<form class="form" th:action="@{/diet/meal/add}" method="post">
    <div th:if="${mealProducts != null}">
        Produkty:</br>
        <p th:each="product : ${mealProducts}" th:text="${product.name + ' -> ' + product.weight + 'g'}"></p>
    </div>
    Kategoria: <select name="id">
    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}" >
    </option>
    </select></br>
    <input type="submit" value="Potwierdź kategorię"></br></br>
    <a th:href="@{'/diet/meal/confirm'}"> Zatwierdź posiłek </a>
</form>
</body>
</html>