<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Wybierz produkt:'"></h3>
<div class="formDiv">
</div>
<form class="form" th:action="@{/diet/meal/addProduct}" method="post">
    Produkt: <select name="id">
    <option th:each="product : ${productList}" th:value="${product.id}" th:text="${product.name}" />
    </select></br>
    Ilość: <input type="number" min="0" name="weight" /></br>
    <button class="formButton button" type="submit" > Dodaj produkt </button>
</form>
</body>
</html>