<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Co chcesz zrobić:'"></h3>
<div th:if="${training == null}">
    <form class="center" th:action="@{/diet/training/add}" method="get">
        <button class="formButton button optionButton" type="submit" > Dodaj trening </button>
    </form>
</div>
<div th:if="${training != null}">
    <form class="center" th:action="@{'/diet/training/edit/' + ${training}}" method="get">
        <button class="formButton button optionButton" type="submit" > Aktualizuj trening </button>
    </form>
    <form class="center" th:action="@{'/diet/training/delete/' + ${training}}" method="get">
        <button class="formButton button optionButton" type="submit" > Usuń trening </button>
    </form>
</div>
</body>
</html>