<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Co chcesz zrobić:'"></h3>
<p><a th:href="@{/diet/user/edit}" ><button style="width: 150px" type="submit" th:text="'Edytuj informacje'"/></a></p>
<p><a th:href="@{/diet/user/password}" ><button style="width: 150px" type="submit" th:text="'Zmień hasło'"/></a></p>
<p><a th:href="@{/diet/user/delete}" ><button style="width: 150px" type="submit" th:text="'Usuń konto'"/></a></p>
</body>
</html>