<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type"	content="text/html;	charset=UTF-8" />
    <title>Title</title>
</head>
<body>
<h3 th:text="'Twój posiłek dostarcza: '"></h3>
<p th:text="'Białko: ' + ${meal.totalProtein}"></p>
<p th:text="'Węglowodany: ' + ${meal.totalCarbohydrates}"></p>
<p th:text="'Tłuszcze: ' + ${meal.totalFat}"></p>
<p th:text="'Kalorie: ' + ${meal.totalCalories}"></p>
<p th:text="'Ładunek glikemiczny: ' + ${meal.glycemicCharge}"></p>
<form th:action="@{/diet/meal/view}" method="get">
    <button class="formButton button" type="submit" > Cofnij </button>
</form>
</body>
</html>